[2018-09-08 15:26] ashikmeerankutty opened #1 "Setup devtool: "source-map" only in developement"
Remove `devtool: "source-map"` for production to remove all those `.map` files in the `gh-pages` branch.

`devtool: options.mode !== 'production' ? "source-map" : "(none)"`

[2018-09-08 15:32] ashikmeerankutty opened #2 "Add travis-ci badge to README"
Add travis-ci badge to README to easily view the build status and navigate to travis page
[![Build Status](https://travis-ci.org/ceadoor/cea.ac.in.svg?branch=master)](https://travis-ci.org/ceadoor/cea.ac.in)

`[![Build Status](https://travis-ci.org/ceadoor/cea.ac.in.svg?branch=master)](https://travis-ci.org/ceadoor/cea.ac.in)`

[2018-09-08 16:13] ashikmeerankutty opened #5 "Update Readme github page url"

[2018-09-09 00:39] zeb-stephen-downs commented on #5
@ashikmeerankutty

[2018-09-09 00:39] zeb-stephen-downs commented on #2
@ashikmeerankutty

[2018-09-09 04:36] #2 closed

[2018-09-09 04:37] abhijithvijayan commented on #5
https://github.com/ceadoor/cea.ac.in/pull/8#issuecomment-419690210

[2018-09-09 04:37] #5 closed

[2018-09-15 15:41] abhijithvijayan opened #25 "student stories"
adding a story content on hovering on the student story images

[2018-09-16 13:48] abhijithvijayan opened #27 "dynamic page and content"
Converting the administration page dynamic so as to stack Principal's degree and researches.

[2018-09-25 18:01] abhijithvijayan opened #32 "360 Virtual campus tour"
ref: https://vr.google.com/tourcreator/

[2018-09-27 13:05] abhijithvijayan opened #33 "content"
![img](https://github.com/abhijithvijayan/__test/blob/160a5021ff19cbf8bc2682016c961dc2ce2b6b97/AcroRd32_2018-09-27_18-28-31.png?raw=true)
![img1](https://github.com/abhijithvijayan/__test/blob/160a5021ff19cbf8bc2682016c961dc2ce2b6b97/AcroRd32_2018-09-27_18-28-51.png?raw=true)
![img1](https://github.com/abhijithvijayan/__test/blob/160a5021ff19cbf8bc2682016c961dc2ce2b6b97/AcroRd32_2018-09-27_18-29-0

[2018-10-01 13:30] abhijithvijayan opened #41 "navbar styling"
adding hover based navbar with content and links embedded

[2018-10-05 01:39] abhijithvijayan opened #42 "glitch in carousel pointer in Edge, Mozilla browsers"

[2018-10-05 01:46] DinahLin commented on #41
Can I work on this project?

[2018-10-05 01:48] abhijithvijayan commented on #41
Sure Why not!

[2018-10-05 03:37] abhijithvijayan commented on #42
workarounds

Firefox - replace with svg icons from [here](https://www.flaticon.com/)
Edge uses the path relative to css file, while IE uses the path relative to html file.

[2018-10-05 04:28] ashikmeerankutty commented on #42
#44 replaces png icons with SVG icons

[2018-10-05 12:07] abhijithvijayan commented on #42
fixed

[2018-10-05 12:07] #42 closed

[2018-10-05 12:08] abhijithvijayan opened #45 "navbar color fix"
fix broken color combo of navbar on other pages.

[2018-10-05 12:46] abhijithvijayan commented on #45
#46

[2018-10-05 16:00] abhijithvijayan commented on #45
#46 #47

[2018-10-05 16:10] abhijithvijayan opened #48 "top navbar responsiveness"
![img](https://i.imgur.com/stNLEFh.png)

[2018-10-05 16:54] abhijithvijayan commented on #45
Fixed

[2018-10-05 16:54] #45 closed

[2018-10-05 18:34] gabrielgs commented on #48
I've made a pull request. Hope that helps

[2018-10-05 19:27] ashikmeerankutty commented on #48
thank you

[2018-10-06 01:39] abhijithvijayan commented on #48
#51

[2018-10-06 02:05] abhijithvijayan opened #52 "carousel move button for scholars"
add a carousel button over the scholars images(prev and next)

![img](https://i.imgur.com/NWxL7Aj.png)

[2018-10-06 09:47] AnchalJain commented on #52
Can I fix this

[2018-10-06 12:11] abhijithvijayan commented on #52
@AnchalJain yeah why not!

[2018-10-06 13:11] abhijithvijayan opened #54 "lazyloading for faster site loading"

[2018-10-06 13:34] abhijithvijayan commented on #41
Sliding navbar content like in this [example](https://designshack.net/tutorialexamples/sliding-content-box/index.html)

[2018-10-06 15:32] abhijithvijayan opened #56 "fix broken link styling"
fix
https://ceadoor.github.io/cea.ac.in/studies/btech-computer-science-engg.html

[2018-10-06 15:33] abhijithvijayan commented on #56
possible cause of webpack

[2018-10-06 18:53] ashikmeerankutty commented on #56
@abhijithvijayan
Try changing `publicPath: ""` to `publicPath: "/"` and then adding the path along with the filename in HtmlWebpackPlugin,
[code]

[2018-10-07 01:37] abhijithvijayan commented on #56
@ashikmeerankutty it was the issue of the `main.js` not being served from `/`

[2018-10-07 01:57] abhijithvijayan commented on #56
Closing.

[2018-10-07 03:57] ashikmeerankutty commented on #52
👍

[2018-10-07 04:07] abhijithvijayan opened #60 "Build error"
Broken. Ongoing [fix]

[2018-10-07 04:50] abhijithvijayan commented on #52
#59

[2018-10-07 06:36] abhijithvijayan commented on #60
[fix] #62

closing.

[2018-10-07 06:36] #60 closed

[2018-10-07 08:50] abhijithvijayan commented on #56
[Fix] #63

[2018-10-07 08:51] ashikmeerankutty commented on #56
#64 fixed

[2018-10-07 08:51] #56 closed

[2018-10-07 09:00] abhijithvijayan opened #65 "Scholar responsiveness"
![img](https://i.imgur.com/PyqebPh.png)

[2018-10-08 13:01] abhijithvijayan opened #67 "navbar dropdown items"
Name the droplist items of navbar

[2018-10-08 14:40] ashikmeerankutty opened #69 "This anchor tag is not properly closed"
Anchor tag is not closed causing an issue of whitespace in the website.

https://github.com/ceadoor/cea.ac.in/blob/ed0daa1adbc82d372be57f366b68d6bd1883082e/src/index.html#L306

[2018-10-08 14:44] ashikmeerankutty opened #70 "Add prettier to the repo"
Add https://prettier.io/ to this repo for linting.

[2018-10-08 15:01] abhijithvijayan commented on #69
Fixed. Closing.

[2018-10-08 15:01] #69 closed

[2018-10-08 15:13] abhijithvijayan commented on #70
using [plugin](https://www.npmjs.com/package/prettier-webpack-plugin) or [directly](https://prettier.io/docs/en/install.html) ?

@ashikmeerankutty

[2018-10-08 15:29] ashikmeerankutty commented on #65
This can be fixed by adding `responsive` object in the owl carousel initialization.

[2018-10-08 16:03] #70 closed

[2018-10-08 16:27] ashikmeerankutty commented on #65
#75

[2018-10-08 16:27] #65 closed

[2018-10-08 16:28] abhijithvijayan opened #76 "home carousel responsiveness glitch for lg devices"
![](https://i.imgur.com/1uwFKvj.jpg)

#75

[2018-10-08 16:29] ashikmeerankutty opened #77 "Add an overlay to the carousel images so the white texts will be clear"

[2018-10-08 16:30] ashikmeerankutty commented on #76
image width is the problem ?

[2018-10-08 16:53] abhijithvijayan commented on #76
Closing.

[2018-10-08 16:53] #76 closed

[2018-10-08 17:48] abhijithvijayan opened #82 "Auto carousel image switch glitch"

[2018-10-09 04:46] abhijithvijayan opened #84 "top navbar visibilty issue on other pages"
![](https://i.imgur.com/C8gi9nQ.png)

## which should be like this

 ![](https://i.imgur.com/cyMliLy.png)

on pages like https://ceadoor.github.io/cea.ac.in/contact

[2018-10-09 05:05] ananthuc73 commented on #84
Can you please explain it further?

[2018-10-09 05:45] abhijithvijayan commented on #84
The top navbar( the one in blue) is not visible on pages like [contact.html](https://ceadoor.github.io/cea.ac.in/contact) or [administration.html](https://ceadoor.github.io/cea.ac.in/administration)

[2018-10-09 05:51] abhijithvijayan opened #86 "home styling"
## Fix this

![img](https://i.imgur.com/9klFtRp.png)

[2018-10-09 05:56] #67 closed

[2018-10-09 06:00] crod93 commented on #86
I will look into it

[2018-10-09 06:12] abhijithvijayan opened #87 "creating course02 page"
create a page called
```btech-mechanical-engg.html``` under ```src/studies/```
with headers and footers from
```src/studies/btech-computer-science-engg.html```

and include that in ```webpack.js```

[2018-10-09 06:25] abhijithvijayan opened #88 "creating course03 page"
create a page called
```btech-electrical-and-electronics-engg.html``` under ```src/studies/```
with headers and footers from
```src/studies/btech-computer-science-engg.html```

and include that in ```webpack.js```

Make sure you change the ```title``` in html page to ```B.Tech | Electrical and Electronics Engineering```

[2018-10-09 06:27] abhijithvijayan opened #89 "creating course04 page"
create a page called
```btech-electronics-and-communication-engg.html``` under ```src/studies/```
with headers and footers from
```src/studies/btech-computer-science-engg.html```

and include that in ```webpack.js```

[2018-10-09 06:33] abhijithvijayan opened #90 "creating course05 page"
create a page called
```mtech-thermal-engg.html``` under ```src/studies/```
with headers and footers from
```src/studies/btech-computer-science-engg.html```

and include that in ```webpack.js```

[2018-10-09 06:33] GaminMatt commented on #89
On it

[2018-10-09 06:34] Janice0218 commented on #88
can i take this?

[2018-10-09 06:35] abhijithvijayan commented on #33
inclusion of [brochure](http://cea.ac.in/docs/broschure18.pdf)

[2018-10-09 06:48] abhijithvijayan commented on #89
[Commit] #91. Closing.

[2018-10-09 06:48] #89 closed

[2018-10-09 06:48] abhijithvijayan commented on #87
@darrenrector91 I'll accept your PR.

[2018-10-09 06:49] abhijithvijayan commented on #88
Sure.

[2018-10-09 07:08] taranvohra commented on #84
I'll handle it

[2018-10-09 07:16] darrenrector91 commented on #87
I created the new btech-mechanical-engg.html page under 'studies' and modified the webpack.config file.  This is my first open source contribution.  How should I go about testing?

[2018-10-09 07:27] darrenrector91 commented on #87
I submitted a pull request

[2018-10-09 07:30] darrenrector91 commented on #87
Did you need the dropdown changed too in order to reflect the new page added?

[2018-10-09 07:32] darrenrector91 commented on #87
The link you gave me is dead

[2018-10-09 07:33] abhijithvijayan commented on #87
It's merged now

Wait upto 2min for travis bot to push to github pages

[2018-10-09 07:34] darrenrector91 commented on #87
Thank you!  It feels really nice to contribute for the first time!

[2018-10-09 07:36] abhijithvijayan commented on #87
here's the commit you did [link](https://ceadoor.github.io/cea.ac.in/studies/btech-mechanical-engg.html)

Thanks

[2018-10-09 07:36] #87 closed

[2018-10-09 07:46] abhijithvijayan opened #94 "creating news and events page"
create a page called
```news-and-events.html``` under ```src/```
with headers and footers from
```src/administration.html```

and include that in ```webpack.js```

Make sure you change the ```title``` in html page to ```News and Events | CEA```

[2018-10-09 07:51] abhijithvijayan opened #95 "creating academic-programs page"
create a page called
```academic-programs.html``` under ```src/studies/```
with headers and footers from
```src/administration.html```

and include that in ```webpack.js```

[2018-10-09 07:57] darrenrector91 commented on #94
I can take this

[2018-10-09 07:57] abhijithvijayan opened #96 "create stories page"
create a page called
```stories.html``` under ```src/cea-experience/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Student Stories | CEA```

[2018-10-09 07:57] darrenrector91 commented on #95
I can do this too!

[2018-10-09 08:00] justvidyadhar commented on #95
Done. Please accept the Pull request.

[2018-10-09 08:01] abhijithvijayan commented on #94
Sorry. We're taking one simple commit from each just to ensure everyone gets a part of it. You can find issues marked as ```good first issue``` or ```hacktoberfest``` in other repos as well.

Thanks for your time.

[2018-10-09 08:07] abhijithvijayan commented on #90
@Amalsanthoshp Make sure you change the ```title``` in html page to ```M.Tech | Thermal Engineering```

[2018-10-09 08:14] abhijithvijayan commented on #95
[Commit] #97

Closing.

[2018-10-09 08:14] #95 closed

[2018-10-09 08:18] harryandriyan commented on #96
I'll take it

[2018-10-09 08:42] daya2940 commented on #90
i will go for this

[2018-10-09 08:44] abhijithvijayan commented on #90
@daya2940 okay

[2018-10-09 08:48] harryandriyan commented on #96
I make pull req, please check it @abhijithvijayan

[2018-10-09 08:51] #84 closed

[2018-10-09 09:00] abyabrkal commented on #94
I will work on this. Please confirm @abhijithvijayan.

[2018-10-09 09:04] abhijithvijayan commented on #96
Closing.

[2018-10-09 09:04] #96 closed

[2018-10-09 09:11] abhijithvijayan commented on #94
Sure @abyabrkal

[2018-10-09 09:16] abhijithvijayan commented on #94
@abyabrkal Sorry, one of the guys is working on it.

[2018-10-09 09:40] abyabrkal commented on #88
I will take this.

[2018-10-09 10:54] abhijithvijayan commented on #94
#101 Closing.

[2018-10-09 10:54] #94 closed

[2018-10-09 10:55] abhijithvijayan commented on #90
#102 Closing.

[2018-10-09 10:55] #90 closed

[2018-10-09 10:55] abhijithvijayan commented on #88
#104 Closing.

[2018-10-09 10:55] #88 closed

[2018-10-09 12:43] abhijithvijayan opened #108 "create clubs page"
create a page called
```clubs-at-cea.html``` under ```src/campus-life/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Clubs | CEA```

[2018-10-09 12:51] abhijithvijayan opened #109 "create a resources page"
create a page called
```resources.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Resources | CEA```

[2018-10-09 12:53] abhijithvijayan opened #110 "Create a campus-life page"
create a page called
```campus-life.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Campus Life | CEA```

[2018-10-09 12:55] abhijithvijayan opened #111 "create an admission page"
create a page called
```admission.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Admissions | CEA```

[2018-10-09 13:00] abhijithvijayan opened #112 "create a cea-experience page"
create a page called
```cea-experience.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Experiences | CEA```

[2018-10-09 13:07] abhijithvijayan opened #113 "create a news page"
create a page called
```news.html``` under ```src/news-and-events/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js```

Make sure you change the ```title``` in html page to ```News | CEA```

[2018-10-09 13:08] abhijithvijayan opened #114 "Create a events page"
create a page called
```events.html``` under ```src/news-and-events/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Events | CEA```

[2018-10-09 13:12] abhijithvijayan opened #115 "create a professional-experience page"
create a page called
```professional-experience.html``` under ```src/cea-experience/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Professional Experience | CEA```

[2018-10-09 13:15] Fedelaus commented on #114
I notice you are including all HTML files currently manually adding them to the plugins list in your `webpack.config.js`. Could I suggest globbing all files and adding them that way, as I cannot see a reason why you may have a html file in your `src/` directory without wanting it in your final build directory. It would remove the requirement to artificially inflate the size of your webpack config

[2018-10-09 13:19] abhijithvijayan opened #116 "create a history page"
create a page called
```our-history.html``` under ```src/about/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Our History | CEA```

[2018-10-09 13:28] abhijithvijayan opened #117 "Creating a commitment page"
create a page called
```our-commitment.html``` under ```src/about/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Our Commitment | CEA```

[2018-10-09 13:36] antigui22 commented on #116
I'm doing!

[2018-10-09 13:41] abhijithvijayan commented on #114
@Fedelaus You saying to group the imports of html files and include in ```webpack.config.js``` ?
if so we'll get to that in a bit. Thanks.

[2018-10-09 13:42] simpslandyy commented on #108
@abhijithvijayan - I can give this ticket a go.

[2018-10-09 13:49] abhijithvijayan opened #118 "Create a gallery page"
create a page called
```gallery.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js```

Make sure you change the ```title``` in html page to ```Gallery | CEA```

[2018-10-09 13:55] dcjc29 commented on #118
I will work on it

[2018-10-09 13:57] abhijithvijayan opened #120 "create a faculty page"
create a page called
```faculty.html``` under ```src/about/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js```

Make sure you change the ```title``` in html page to ```Faculty | CEA```

[2018-10-09 14:05] abhijithvijayan commented on #86
Fixed

[2018-10-09 14:05] #86 closed

[2018-10-09 14:18] ashikmeerankutty commented on #114
@Fedelaus You are right. We never thought that there will be so much html files so we went with this approach and now see that it makes our `webpack.config.js` big. We are using `HtmlWebpackPlugin` to inject the final `css` and `js` files and also change the assets path. We think your approach is the better way so you can work on that. You can go with `node-glob`.

[2018-10-09 14:27] sparkle-sparkle commented on #117
is this one still free?

[2018-10-09 14:28] abhijithvijayan commented on #108
Closing.

[2018-10-09 14:28] #108 closed

[2018-10-09 14:29] abhijithvijayan commented on #117
@sparkle-sparkle Yes.

[2018-10-09 14:30] sparkle-sparkle commented on #117
okay 😃 I would like to pick this one up :-)

[2018-10-09 14:30] trotjr commented on #113
Im doing it

[2018-10-09 14:30] antigui22 commented on #116
Done on #127

[2018-10-09 14:46] abhijithvijayan commented on #116
[Commit] #127 Closing.

[2018-10-09 14:46] #116 closed

[2018-10-09 14:57] abhijithvijayan commented on #117
[Merged] #129
Closing.

[2018-10-09 14:59] abhijithvijayan commented on #111
[Merged] #131
Closing.

[2018-10-09 14:59] #111 closed

[2018-10-09 15:04] simpslandyy commented on #109
I'll take this one! :)

[2018-10-09 15:11] trotjr commented on #113
I've done it, PR didn't showed up

[2018-10-09 15:12] sparkle-sparkle commented on #112
I'll do this one :-)

[2018-10-09 15:13] abhijithvijayan commented on #113
@trotjr I can't find your forked repo!

[2018-10-09 15:15] abhijithvijayan commented on #113
@trotjr

Make changes as said to the repo

Commit your changes
Push

And create a PR

We'll verify and merge it.

[2018-10-09 15:16] sparkle-sparkle commented on #112
Is it possible to create a menu-component that contains all nav-elements, so this is only in one location and when there are changes you only need to edit this in one file?

I notice that there is no menu item for the 'experience' yet. Do you want me to add one?

[2018-10-09 15:17] sparkle-sparkle commented on #112
I think it would be handy to create component for header and footer and include those components in the html files.

[2018-10-09 15:17] trotjr commented on #113
Ok

[2018-10-09 15:20] abhijithvijayan commented on #109
[Merged] #133
Closing.

[2018-10-09 15:20] #109 closed

[2018-10-09 15:29] abhijithvijayan commented on #110
Hey @sparkle-sparkle
As this page inclusion is a beginner stage of commits
We appreciate if everyone gets to commit each of the issues.

Not that we don't appreciate you doing us a favour. We hope to give others' a chance too.

Let someone handle this as you have done 1 earlier.

Thanks for your time.

[2018-10-09 15:30] trotjr commented on #113
I've completed, and submited
git pull to your repo right?

[2018-10-09 15:31] sparkle-sparkle commented on #110
okay, I'll find another issue

[2018-10-09 15:32] abhijithvijayan commented on #113
there's a button called create pull request on the forked repo on github.

Use that.

[2018-10-09 15:33] abhijithvijayan commented on #110
@sparkle-sparkle we appreciate your effort to help us. Thanks and have a good day.

[2018-10-09 15:37] trotjr commented on #113
Got it!

[2018-10-09 15:37] trotjr commented on #113
See if it's right

[2018-10-09 15:37] abhijithvijayan commented on #112
[Merged] #134
Closing.

[2018-10-09 15:37] #112 closed

[2018-10-09 15:44] abhijithvijayan commented on #113
@trotjr unfortunately you didn't follow as said on the issue.
Make changes as said and commit and then push.

I'll merge it after

[2018-10-09 15:46] abhijithvijayan commented on #120
Changes to ```webpack.config.js``` is needed

[2018-10-09 15:49] abhijithvijayan commented on #117
Changes to ```webpack.config.js``` is needed

[2018-10-09 15:55] Casva commented on #120
I'd like to pick this one up!

[2018-10-09 15:56] abhijithvijayan commented on #120
@Casva it's already done.

Just fix that bug.
Thanks

[2018-10-09 16:53] abhijithvijayan commented on #113
[Merged] #135
Closing.

[2018-10-09 16:53] #113 closed

[2018-10-09 16:55] ashikmeerankutty opened #138 "Add navbar items and links"
Add the dropdown items and link to the navbar items based on the structure of the repository.

[2018-10-09 16:55] abhijithvijayan commented on #120
[Fixed] #137
Closing.

[2018-10-09 16:55] #120 closed

[2018-10-09 16:56] abhijithvijayan commented on #138
Refer ```webpack.config.js``` for the file structures.

[2018-10-09 16:57] abhijithvijayan commented on #115
@cneryx Are you gonna do as you said?

[2018-10-09 17:00] ashikmeerankutty commented on #113
@trotjr Happy to hear that this is your first contribution. You can go through these posts to get more knowledge about contributing to open source.
https://www.digitalocean.com/community/tutorial_series/an-introduction-to-open-source
https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2018-10-09 17:05] abhijithvijayan opened #139 "#200 update readme.md"
The 200th commit

Include Instagram link in Readme

[2018-10-09 17:07] ashikmeerankutty commented on #139
Also add the prettier badge
[![code style: prettier](https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square)](https://github.com/prettier/prettier)

[2018-10-09 17:08] abhijithvijayan commented on #139
Happy coding. :grinning:

[2018-10-09 17:17] abhijithvijayan commented on #139
[![code style: prettier](https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat)](https://github.com/prettier/prettier)

[2018-10-09 17:32] cneryx commented on #115
ya sorry im having some trouble with github.

[2018-10-09 17:39] ashikmeerankutty commented on #115
@cneryx Yeah make a pull request.

[2018-10-09 17:43] ashikmeerankutty commented on #115
Fixed #141

[2018-10-09 17:43] #115 closed

[2018-10-09 17:45] abhijithvijayan opened #142 "Navlinks broken"
Issue with navlinks on subpages

[2018-10-09 17:47] abhijithvijayan commented on #112
@ashikmeerankutty I think you should consider this.

[2018-10-09 17:51] #139 closed

[2018-10-09 18:10] abhijithvijayan commented on #138
#144

[2018-10-09 18:12] #117 closed

[2018-10-09 18:12] #142 closed

[2018-10-09 18:12] #138 closed

[2018-10-09 18:13] abhijithvijayan commented on #77
[Merged]

[2018-10-09 18:13] #77 closed

[2018-10-09 18:15] abhijithvijayan opened #145 "create an events page"
create a page called
```events.html``` under ```src/news-and-events/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Events | CEA```

[2018-10-09 18:17] abhijithvijayan opened #146 "create a studies page"
create a page called
```studies.html``` under ```src/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```Studies | CEA```

[2018-10-09 18:24] abhijithvijayan opened #147 "Creating course-plan page for course01"
create a page called
```course-plan.html``` under ```src/studies/btech-computer-science-engg/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Course Plan | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:25] abhijithvijayan opened #148 "Creating course-plan page for course02"
create a page called
```course-plan.html``` under ```src/studies/btech-electrical-and-electronics-engg/```
with headers and footers from
```src/contact.html```

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Course Plan | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:26] abhijithvijayan opened #149 "Creating course-plan page for course03"
create a page called
```course-plan.html``` under ```src/studies/btech-mechanical-engg/```
with headers and footers from
```src/contact.html```

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Course Plan | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:27] abhijithvijayan opened #150 "Creating course-plan page for course04"
create a page called
```course-plan.html``` under ```src/studies/btech-electronics-and-communication-engg/```
with headers and footers from
```src/contact.html```

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Course Plan | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:28] abhijithvijayan opened #151 "Creating course-plan page for course05"
create a page called
```course-plan.html``` under ```src/studies/mtech-thermal-engg/```
with headers and footers from
```src/contact.html```

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Course Plan | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:29] m4tr1k commented on #147
@abhijithvijayan I can take this one!

[2018-10-09 18:31] abhijithvijayan opened #152 "create a whats-going-on page"
create a page called
```whats-going-on.html``` under ```src/news-and-events/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```What's Going On | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:32] abhijithvijayan commented on #147
@m4tr1k Yeah sure.

[2018-10-09 18:34] abhijithvijayan opened #153 "create a whats-coming-up page"
create a page called
```whats-coming-up.html``` under ```src/news-and-events/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```What's Coming Up | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 18:42] abhijithvijayan opened #154 "Logo Re-Designing/Cloning"
College's Logo redesigning.

![Present old Logo](https://avatars3.githubusercontent.com/u/34028707?s=400&u=095c1822ef55a754cef46b187da6c8e7b8567b80&v=4)

No psd/png/ai file found
So need to build from scratch

Some of the element in the logo are representations of Government units.

[2018-10-09 18:46] abhijithvijayan opened #155 "create a page for club01"
create a page called
```ieee-sb-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

Make sure you change the ```title``` in html page to ```IEEE SB | CEA```

[2018-10-09 18:47] abhijithvijayan opened #156 "create a page for club02"
create a page called
```trace-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```TRACE | CEA```

[2018-10-09 18:51] abhijithvijayan opened #158 "create a page for club03"
create a page called
```sae-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

Make sure you change the ```title``` in html page to ```SAE | CEA```

[2018-10-09 18:59] abhijithvijayan commented on #147
[Merged] #157
Closing.

[2018-10-09 18:59] #147 closed

[2018-10-09 19:00] abhijithvijayan opened #159 "create a page for club04"
create a page called
```forum-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

Make sure you change the ```title``` in html page to ```FORUM | CEA```

[2018-10-09 19:02] abhijithvijayan opened #160 "create a page for club05"
create a page called
```nss-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```NSS | CEA```

[2018-10-09 19:03] abhijithvijayan opened #161 "create a page for club06"
create a page called
```pulse-cea.html``` under ```src/campus-life/clubs-at-cea/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.js``` accordingly.

Make sure you change the ```title``` in html page to ```PULSE | CEA```

[2018-10-09 19:09] abhijithvijayan opened #162 "create a university page"
create a page called
```university.html``` under ```src/studies/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Universities | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 19:11] abhijithvijayan opened #163 "create university01 page"
create a page called
```ktu.html``` under ```src/studies/universities/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```APJ Abdul Kalam Technological University | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 19:13] abhijithvijayan opened #164 "create university02 page"
create a page called
```cusat.html``` under ```src/studies/universities/```
with headers and footers from
```src/contact.html```

and then include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Cochin University of Science and Technology | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 19:17] abhijithvijayan opened #165 "create a departments page"
create a page called
```departments.html``` under ```src/studies/```
with headers and footers from
```src/contact.html```

and include that in ```webpack.config.js``` accordingly.

- *create folders as needed*

- Make sure you change the ```title``` in html page to ```Departments | CEA```

- *If anyone is on this, first say it here!*

[2018-10-09 19:28] mahis929 commented on #165
i'm on it

[2018-10-09 19:29] abhijithvijayan commented on #165
@mahis929

Please go for other issue in this repo as someone is already on this issue.

[2018-10-09 19:30] mahis929 commented on #164
i'm now on this one

[2018-10-09 19:32] mahis929 commented on #165
check my other comment

On Wed, Oct 10, 2018 at 12:59 AM Abhijith V <notifications@github.com>
wrote:

[2018-10-09 19:32] abhijithvijayan commented on #164
@mahis929 feel free to take it.

[2018-10-09 19:35] jcardoz commented on #165
PR Created - please review https://github.com/ceadoor/cea.ac.in/pull/166

[2018-10-09 19:36] pauliax commented on #163
Working on this

[2018-10-09 19:37] abhijithvijayan commented on #165
[Merged]
Closing.

[2018-10-09 19:37] #165 closed

[2018-10-09 19:38] abhijithvijayan commented on #163
@pauliax is now assigned.

[2018-10-09 19:39] nulf commented on #162
Ok if I take this one? Not my first issue but just starting out contributing this hacktoberfest.

[2018-10-09 19:40] abhijithvijayan commented on #162
@nulf is now assigned this issue.

[2018-10-09 19:55] mahis929 commented on #164
check my pull request

[2018-10-09 19:57] mahis929 commented on #164
check my pull request

On Wed, Oct 10, 2018 at 1:02 AM Abhijith V <notifications@github.com> wrote:

[2018-10-09 20:42] mahis929 commented on #152
i'll try

[2018-10-09 22:04] klanti117 commented on #156
working on this

[2018-10-10 01:18] klanti117 commented on #153
working on it

[2018-10-10 01:18] klanti117 commented on #145
working on it

[2018-10-10 01:19] klanti117 commented on #153
working on it

[2018-10-10 03:08] abhijithvijayan commented on #153
@klanti please only work on 1 issue

[2018-10-10 03:52] mikestratton commented on #145
I will work on this.

[2018-10-10 03:52] ashikmeerankutty commented on #145
Sure go for it.

[2018-10-10 03:58] #161 closed

[2018-10-10 04:02] #163 closed

[2018-10-10 04:03] abhijithvijayan commented on #162
[Merged] #170
Closing.

[2018-10-10 04:03] #162 closed

[2018-10-10 04:08] abhijithvijayan commented on #160
[Merged] #172
Closing.

[2018-10-10 04:08] #160 closed

[2018-10-10 04:11] abhijithvijayan commented on #146
[Merged] #173
Closing.

[2018-10-10 04:11] #146 closed

[2018-10-10 04:38] abhijithvijayan commented on #159
Sorry @mikestratton Leave it this issue to someone else to work on.
You can find other ```good first issue``` labelled issues in other repos as well.

[2018-10-10 05:00] abhijithvijayan commented on #164
[Merged] #169
Closing.

[2018-10-10 05:00] #164 closed

[2018-10-10 05:00] abhijithvijayan commented on #152
[Merged] #169
Closing.

[2018-10-10 05:00] #152 closed

[2018-10-10 05:09] jmannfeld commented on #155
I got this one

[2018-10-10 05:12] abhijithvijayan commented on #156
[Merged] #174
Closing.

[2018-10-10 05:12] #156 closed

[2018-10-10 05:14] abhijithvijayan commented on #155
@jmannfeld Don't make the asked change to ```webpack.config.js```
Just create the ```.html``` file and submit the PR

[2018-10-10 05:52] #155 closed

[2018-10-10 08:46] #151 closed

[2018-10-10 08:46] #150 closed

[2018-10-10 08:46] #149 closed

[2018-10-10 08:46] Oatelaus opened #179 "Utilize baseURL to allow for easy local development and alternative gh-pages"
Currently there exists an issue where certain resources are required in from static locations or links to pages only work in certain environments.

Currently I notice HTMLWebpackPlugin's `publicPath` is being used, it would be best to use `baseURL` as this would accomodate the issue which github pages poses to relative links.

This change would require the removal of the `html-loader`, but I belie

[2018-10-10 08:46] #148 closed

[2018-10-10 09:48] abhijithvijayan commented on #179
@Fedelaus It is considered to be a good enhancement.

[2018-10-10 09:56] Fedelaus commented on #179
Thanks for the response. I will test if these changes have the desired effects and submit a further pull request.

[2018-10-10 10:18] abhijithvijayan commented on #179
@Fedelaus publicPath was set in a way that ```main.js``` was available to files locally and while pushed to gh pages

See if your commits find the solution

Thanks

[2018-10-10 12:32] trotjr commented on #113
Sorry for the misunderstanding and if I’ve done any delay on your projects, my internet was freaking out so yesterday I couldn’t send any message to answer you.
If you don’t want me to do your issues I’ll understand.

Enviado do Email<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: Abhijith V <notifications@github.com>
Enviado: Tuesday, October

[2018-10-10 12:43] abhijithvijayan commented on #113
@trotjr No No No, you had errors in the commit. It's fixed and merged now. We have accepted your contribution in fact it's merged. Check #135

And we only accept 1 contribution from a user for the issues labelled ```hacktoberfest```

Thanks for getting back to us and contributing to the repo.

[2018-10-10 12:45] abhijithvijayan commented on #179
@Fedelaus okay.

[2018-10-10 12:49] abhijithvijayan commented on #159
#181

[2018-10-10 13:04] capturethemoon commented on #110
Working on this.

[2018-10-10 14:04] virenb commented on #158
Hello - I'll give this a try. Any other content to put on the page?

[2018-10-10 16:31] abhijithvijayan commented on #158
@virenb Just header and footer is enough for now. We're structuring the whole website

[2018-10-10 17:20] virenb commented on #158
@abhijithvijayan thanks, went to create this but looks like someone else has completed it already.

[2018-10-10 18:28] ashikmeerankutty opened #183 "Connect travis and GitHub to slack channel."
Connect travis and github to slack channel to get notifications about PRs and build

[2018-10-10 18:37] ashikmeerankutty commented on #179
@Fedelaus May be we can use an environment file to set the base_url so that we can use travis to set the variable in the production. We can't remove the `html-loader` completely as it is being user to change the path in the html files.  I never thought this was a big deal but now may be I can also have a look at the config file so as to fix the issue with the path in the production and the develop

[2018-10-10 21:32] klanti117 commented on #153
sorry about that, got too excited with my first pull request. I will keep that in mind

[2018-10-10 21:35] abhijithvijayan commented on #153
@klanti117 hey, no issues. But I see somebody has already done this page and it's merged.

Make sure you revert the changes in ```webpack.config.js``` and commit your changes.

[2018-10-10 21:47] abhijithvijayan commented on #158
@virenb hey, sorry that we didn't close this issue soon after the issue has been solved

[2018-10-10 21:48] abhijithvijayan commented on #158
[Merged] #178
Closing

[2018-10-10 21:48] #158 closed

[2018-10-11 05:33] abhijithvijayan opened #186 "Test Issue from Slack Workspace"
Status: OK?

[2018-10-11 05:34] abhijithvijayan commented on #186
Working.

[2018-10-11 05:36] #186 closed

[2018-10-11 05:54] abhijithvijayan commented on #183
#187 #186 [Fixed]
Closing.

[2018-10-11 06:59] abhijithvijayan commented on #183
[Slack Integration Failed]

[2018-10-11 07:27] abhijithvijayan commented on #159
#191

[2018-10-11 07:27] #159 closed

[2018-10-11 08:25] abhijithvijayan opened #192 "sorting scss files"
attaching numbers on names of scss files for easiness

[2018-10-11 11:05] Fedelaus commented on #179
@ashikmeerankutty that is what I was thinking.

The current proposed changes are:

* Add <base> to every HTML file (this can be done manually, or done via another webpack plugin.
* Create an environment.js file of which will be populated with values used within the build process.
* Remove html-loader to allow for HTMLWebpackPlugin to insert variables into templates.
* Utilize the variable within t

[2018-10-11 12:11] Fedelaus commented on #192
Apologies for being a pain on this project for you folks.

Could I question the number-in-name system for SCSS files? What are you aiming to achieve?

[2018-10-11 12:51] abhijithvijayan opened #195 "Stopping Direct Push to master branch"
Creating a new Branch ```release``` and accepting all ```PR``` and ```commits``` to ```release``` branch.
Then ```merging``` the commits to ```master``` branch after it reaches a minimum number of commits in the ```release``` branch for better practice

[2018-10-11 13:09] Fedelaus commented on #192
I have just seen the change here and I am a little perplexed, I feel like the change from a semantic name to a `section-1` is harmful rather than helpful, it will become less obvious which page you're working against.

[2018-10-11 13:53] abhijithvijayan commented on #195
#194

[2018-10-11 14:04] abhijithvijayan commented on #192
@Fedelaus Check the PR I submitted.
For the coming developments, the sections for each page will count up to a large number. So keeping it in an orderly manner like I did in PR avoids ambiguity.
I renamed every sectionId to ```section-number``` and renamed scss files accordingly.

Only till now the pages count to >20 sections.

[2018-10-11 14:06] abhijithvijayan commented on #192
I don't know if i helps or not. But if it doesn't on the coming dev stage, I'll change it to the way it was, which I hope won't happen.

[2018-10-11 14:13] abhijithvijayan commented on #192
@Fedelaus Don't feel that way. We do love other's thoughts/ideas on the project and you're very welcomed to contribute as much as you feel the need to.

[2018-10-11 15:34] ashikmeerankutty commented on #179
@Fedelaus I found an alternative solution for this rather than messing up with the webpack config. All these issues are caused because of the link in the production `https://ceadoor.github.io/cea.ac.in/` as there is a `cea.ac.in/` in the base url but if we don't specify that in the html the browser normally check for the origin path `https://ceadoor.github.io/`. As HTMLWebpackPlugin does not chang

[2018-10-11 18:35] #52 closed

[2018-10-11 18:41] abhijithvijayan commented on #25
#196 Improvements

[2018-10-11 18:41] #25 closed

[2018-10-11 18:49] #192 closed

[2018-10-11 18:49] #195 closed

[2018-10-11 18:50] abhijithvijayan commented on #82
#25

[2018-10-11 18:50] #82 closed

[2018-10-12 11:56] Ayaz1997 commented on #154
I am working on this

[2018-10-12 12:28] abhijithvijayan commented on #154
That's a government logo of Kerala I think

[2018-10-12 12:31] Ayaz1997 commented on #154
I need to be confirmed otherwise there will be some mistake in the official logo, and something is written under that also.

[2018-10-12 12:32] abhijithvijayan commented on #154
@Ayaz1997 just give me some time

I'll find the source of it.
And BTW thanks for supporting our project.

[2018-10-12 12:33] Ayaz1997 commented on #154
![image](https://user-images.githubusercontent.com/26507741/46869328-0369cd00-ce49-11e8-9a65-03fbe1374b03.png)
yeah, I got it, its govt of kerela.

[2018-10-12 12:34] abhijithvijayan commented on #154
About the quote below it, we'll go through it.

[2018-10-12 12:36] Ayaz1997 commented on #154
ya, i think its written govt. of Kerala. Well I'll leave a blank space there and add it when you get confirmed.

[2018-10-12 12:36] abhijithvijayan commented on #154
@Ayaz1997 We're working on confirming if that's actually the logo of Kerala as we have found a lot similar like that.
Just stay put. Let me confirm it.

Thanks

[2018-10-12 12:37] Ayaz1997 commented on #154
Ok, No problem
Welcome

[2018-10-12 12:42] abhijithvijayan commented on #154
@Ayaz1997
It's not the logo we thought it was. It is actually the logo of IHRD available at [Link](http://www.ihrd.ac.in/images/stories/pdf/2016/ihrdlogo2016bw.png) in png.

[2018-10-12 12:43] Ayaz1997 commented on #154
Ok, and what about the text below?

[2018-10-12 12:47] abhijithvijayan commented on #154
That we are not sure, yet!
We'll tell you when we get to know about it. You can search for ```cea ihrd logo``` and so to see the best we've got so far.
and an image is recently stored on the site. [This](http://www.ceadoor.ihrd.ac.in/scan1.jpg)
It can also not give a clear idea about the content.

[2018-10-12 12:50] Ayaz1997 commented on #154
Ok, tell me when yo are confirmed. Till then I am preparing only the main logo parts.

[2018-10-12 12:51] abhijithvijayan commented on #154
find this [pdf](http://www.ceadoor.ihrd.ac.in/docs/broschure18.pdf) to zoom in and make an idea about how it is to an extent.

[2018-10-12 12:51] Ayaz1997 commented on #154
ok

[2018-10-12 12:54] abhijithvijayan commented on #154
@Ayaz1997 I think we've got a clean good version of logo to work on. Stay put.

[2018-10-12 12:58] abhijithvijayan commented on #154
@Ayaz1997
[THIS](https://cloud.abhijithvijayan.me/s/XjPxB4B7xmJo7eK) is the best we've got

[2018-10-12 13:01] abhijithvijayan commented on #154
They have removed bottom piece of [this](http://www.ihrd.ac.in/images/stories/pdf/2016/ihrdlogo2016bw.png) logo and replaced it with the quote ```MANPOWER DEVELOPMENT``` in a rectangle

That's all.

[2018-10-12 13:05] Ayaz1997 commented on #154
Thank you, thats all I ned. Get your logo today only.

[2018-10-12 13:06] abhijithvijayan commented on #154
@Ayaz1997 This is the one. Okay!

Thanks for the support.

[2018-10-12 13:07] Ayaz1997 commented on #154
Welcome

[2018-10-12 15:12] Ayaz1997 commented on #154
Done with the Redesign!
![jpeg 1080p](https://user-images.githubusercontent.com/26507741/46877794-48006300-ce5f-11e8-87ed-d557144fc8c8.jpg)

[2018-10-12 15:19] abhijithvijayan commented on #154
#197

[2018-10-12 15:19] #154 closed

[2018-10-13 09:58] ashikmeerankutty opened #199 "Create a gallery page"
- Edit `gallery.html`
- Add a breadcrumb and heading like in administration page.
- Add an image grid, So each grid items contain an image and a heading.

@abhijithvijayan Do you have any suggestions?

[2018-10-13 10:00] abhijithvijayan commented on #199
@ashikmeerankutty

Adding a hover story is also a good choice

[2018-10-13 10:03] abhijithvijayan opened #200 "Adding instagram link to readme.md"
Replace ```#``` with ```https://www.instagram.com/tracecea?r=nametag```

and create a pull request to ```release``` branch.

Checkout the [Contributing.md](https://github.com/ceadoor/cea.ac.in/blob/release/CONTRIBUTING.md) for more info.

[2018-10-13 10:27] tomkennedycode commented on #200
I can do this for you.

[2018-10-13 10:41] dmaaj commented on #200
done .. added instagram link to readme.md <a href="https://github.com/ceadoor/cea.ac.in/pull/204"> #204</a>

[2018-10-13 10:43] abhijithvijayan commented on #200
Closing

[2018-10-13 10:43] #200 closed

[2018-10-13 14:51] abhijithvijayan opened #206 "accept PRs only to the release branch"
Request to change the PR to ```release``` branch if it is requested to the ```master``` and then Close the PRs that are to the ```master``` branch.

This is to ensure all development and builds don't fail.

[2018-10-13 14:52] abhijithvijayan commented on #206
@ashikmeerankutty After a minimum of 4-5 commits, we can merge the ```master``` branch with ```release```

[2018-10-14 15:14] abhijithvijayan opened #208 "Shadow for navbar on scrolling"
Inject a ```shadow``` class along with ```shrink``` for navbar shadow on scroll.

[2018-10-15 04:54] abhijithvijayan commented on #199
#207

Further Modifications Needed

[2018-10-15 11:59] MsWebGirl commented on #199
Here is your screenshot.
![image](https://user-images.githubusercontent.com/7428095/46949667-329e5b00-d050-11e8-9d2a-f80639a462be.png)

[2018-10-16 13:30] nwyll commented on #41
I will take a stab at this

[2018-10-16 18:21] nwyll commented on #33
Can you give a little more direction as to what you are wanting?

[2018-10-17 02:01] abhijithvijayan commented on #33
@nwyll This issue is just for reference btw the  project coordinators.
Thanks .

[2018-10-17 02:42] abhijithvijayan commented on #41
The main navbar to be expanded like to 25vh to include headings and links accordingly

[2018-10-17 04:14] abhijithvijayan commented on #206
#211

[2018-10-17 04:14] #206 closed

[2018-10-17 05:36] abhijithvijayan commented on #41
@nwyll @ashikmeerankutty is currently working on it.

[2018-10-17 08:47] ashikmeerankutty commented on #208
#212

[2018-10-17 10:16] abhijithvijayan opened #214 "add a hover icon-forward effect to font-awesome icons"
From https://ianlunn.github.io/Hover/

to footer and other links with font awesome icons as badges on hovering

[2018-10-17 19:48] abhijithvijayan commented on #41
#215

[2018-10-18 03:07] abhijithvijayan opened #217 "tune the news section"
Add another carousel tab just and make the next button work

[2018-10-18 03:56] #41 closed

[2018-10-18 08:06] abhijithvijayan opened #219 "Navbar: mobile:view - Sidebar Conversion"
For responsiveness, better if navbar is from sidebar for mobile view

[2018-10-20 04:34] ashikmeerankutty commented on #54
lazyloading may affect SEO

[2018-10-20 04:34] #54 closed

[2018-10-20 19:31] abhijithvijayan opened #228 "wait for build to pass"
Before merge, wait for build to pass to avoid continuous failures. ![](https://i.imgur.com/eaLPeSM.png)

[2018-10-20 19:31] abhijithvijayan commented on #228
@ashikmeerankutty

[2018-10-20 19:35] abhijithvijayan opened #229 "Adding carousel in mobile view"
Add carousel to this section in mobile view for better page performance. ![](https://i.imgur.com/qnsLx7V.png)

[2018-10-20 22:08] kcclemo commented on #229
I'd be happy to take this on if you want.

[2018-10-20 22:09] alimm1995 commented on #219
Do you need a right sidebar or a left sidebar? Where should the button to open the sidebar be if you want a left sidebar?

[2018-10-21 08:34] #228 closed

[2018-10-21 11:18] abhijithvijayan commented on #229
#230

[2018-10-22 20:41] kcclemo commented on #214
I can take a look at this if you'd like.

[2018-10-23 01:46] abhijithvijayan commented on #214
@kcclemo

Apply that to the footer icons first

Leave out the rest

[2018-10-23 11:52] kcclemo commented on #214
Out of curiosity, is there a coding style guide for this project that I should be made aware of?

[2018-10-23 12:28] kcclemo commented on #214
I'm assuming you meant only these links, correct?
![icons-hvr-forward](https://user-images.githubusercontent.com/25205071/47360458-6ac32080-d684-11e8-8c07-bfc54597caed.gif)

[2018-10-23 12:52] kcclemo opened #238 "Need HTML template"
Sourcing the top nav and footer elements from a single source file would allow for better maintenance, long-term. For example, You could import the header and footer from any page, but, the contents of those elements live in a `header.html` or `footer.html` file individually.

[2018-10-23 13:40] ashikmeerankutty commented on #238
thank you for your suggestions we will implement those when we finalize about which backend to be used. 😄

[2018-10-23 13:40] #238 closed

[2018-10-23 14:30] #214 closed

[2018-11-02 05:50] #229 closed

[2018-11-02 05:53] abhijithvijayan commented on #219
Right sidebar is what we want.

[2018-11-06 11:13] abhijithvijayan opened #248 "about.html debug error"
![](https://i.imgur.com/A6qyJ1V.png)

[2018-11-06 11:32] abhijithvijayan commented on #248
[](https://stackoverflow.com/questions/20175094/uncaught-typeerror-cannot-read-property-top-of-undefined)

[2018-11-06 13:03] ashikmeerankutty commented on #248
It's because that element doesn't exist. Since in development stage, it doesn't matter. Adding an if condition can remove the errors.

[2018-11-06 13:03] #248 closed

[2019-01-01 06:36] Athul-CA opened #252 "Navbar Issues"
Hey,
I am getting a nav bar issue.
When I click on an item from the dropdown navbar, i get dual dropdowns. I don't know if it is a rendering error, but i get it whenever i click on the options. I'm attaching a screenshot too.
![screenshot_20190101-120334](https://user-images.githubusercontent.com/40897573/50570760-a03f6500-0dbd-11e9-961b-6d87561202e7.jpg)

[2019-01-01 06:50] ashikmeerankutty commented on #252
@Athul-CA  the navbar for mobile sites is not optimized yet. We will be working it on soon Thank you for your feedback

[2019-01-01 06:50] ashikmeerankutty commented on #252
#219 duplicate

[2019-01-01 06:50] #252 closed

[2019-02-15 13:02] abhijithvijayan opened #254 "instant.page"
use instant.page npm package for intra pages loading

[2019-02-16 03:36] abhijithvijayan opened #256 "use vendor prefixes to css"
Using [autoprefixer](https://www.npmjs.com/package/autoprefixer) package

[2019-02-22 14:00] abhijithvijayan opened #258 "fix path for inner page css"

[2019-02-22 16:30] abhijithvijayan commented on #258
#259

[2019-02-22 16:30] #258 closed

[2019-02-22 16:34] abhijithvijayan commented on #219
use [slideout](https://www.npmjs.com/package/slideout)

[2019-06-05 08:55] abhijithvijayan opened #262 "Complete Rewrite in React"
Can use either
- pure react (create-react-app)
or
- gatsby.js
- next.js if ssr is required.

[2019-06-05 08:55] abhijithvijayan commented on #262
@ashikmeerankutty What is your say on this?

[2019-06-05 10:26] abhijithvijayan commented on #262
considering SEO and other dynamic factors, Next.js is the best option for the site.

[2019-06-15 01:37] abhijithvijayan opened #263 "backend"
deciding backend stack

- Python(Django/Flask) + SQL DB
- Node.js + SQL/No SQL
- Php + SQL DB

[2019-06-15 01:38] abhijithvijayan commented on #256
will be fixed on rewrite

[2019-06-15 01:38] #256 closed

[2019-06-15 01:38] #254 closed

[2019-06-15 01:39] abhijithvijayan commented on #27
Will be worked on later

[2019-06-15 01:39] #27 closed

[2019-10-02 05:14] abhijithvijayan opened #268 "Update readme"
Update slack link to

https://kutt.it/trace-slack

[2019-10-02 05:17] TheOrangePuff commented on #268
I can do this 😄

[2019-10-02 05:19] abhijithvijayan commented on #268
Also remove blog and twitter part

[2019-10-02 05:23] #268 closed

[2021-11-13 09:18] Shaikh-Raza commented on #200
https://www.instagram.com/technicalfacts02/